@page
@model UnderTheHood.Pages.HumanResourceModel
@{
}

<div>
    <h1 class="display-4">Human Resources</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Date</td>
            <td>Temp C</td>
            <td>Temp F</td>
            <td>Summary</td>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WeatherForecastItems)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</div>

